.clearfix:after {
	display: block;
	clear: both;
	content: "";
}
.pxl---post {
	.pxl-item--image {
		margin-bottom: 14px;
		a {
			display: block;
			width: 100%;
		}
	}
	.pxl-item--title {
		font-size: 24px;
		line-height: 1.25;
		margin-bottom: 19px;
		@media #{$max-sm} {
			font-size: 24px;
		}
		a {
			color: inherit;
			&:hover {
				color: $primary_color;
			}
		}
	}
	.pxl-item--excerpt {
		margin-bottom: 32px;
		font-size: 16px;
		line-height: 1.625;
		color: rgba(#2D2D2D, 0.8);
	}
	.pxl-item--readmore {
		border-top: 1px solid rgba(#000000, 0.1);
		padding: 20px 0;
		text-align: center;
	}
	.pxl-item--divider {
		height: 24px;
		width: 1px;
		background-color: rgba(45, 45, 45, 0.1);
		margin: 0 24px;
		@media #{$max-sm} {
			margin: 0 12px;
		}
	}
	.pxl-item--meta {
		font-size: 16px;
		margin-bottom: 20px;
		color: #000000;
		text-transform: capitalize;
		a {
			color: inherit;
			&:hover {
				color: inherit;
			}
		}
	}
	&.product {
		.pxl-item--meta {
			display: none !important;
		}
	}
}

.pxl-item--archive {
	.pxl-item--image {
		position: relative;
		overflow: hidden;
		img {
			@include transition(all 0.8s ease);
			transform: scale(1.01,1.01);
		}
		&:hover img {
			-webkit-transform: scale(1.07,1.07);
			transform: scale(1.07,1.07);
		}
	}
	.pxl-post--meta {
		justify-content: center;
		font-size: 14px;
		color: #666666;
		font-weight: 500;
		@extend .ft-heading;
		a {
			font-weight: inherit;
			color: inherit;
		}
		i {
			color: $primary_color;
			font-size: 18px;
			display: inline-flex;
		}
		> div {
			padding: 0 15px;
			@media #{$max-sm} {
				padding: 0 8px;
			}
		}
	}
	&.pxl-item--standard {
		margin-bottom: 30px;
		@include box-shadow(0 10px 30px rgba(#000, 0.06));
		padding: 30px 30px 0 30px;
		&:last-child {
			margin-bottom: 0;
		}
		@media #{$max-sm} {
			padding: 22px 22px 0 22px;
		}
	}
}

/* End Blog Layout */

.single-post .pxl---post {
	.pxl-gallery {
		margin-top: -24px;
	}
	.single-heading {
		font-size: 30px;
		@media #{$max-sm} {
			font-size: 22px;
		}
	}
	.pxl-item--image {
		margin-bottom: 21px;
	}
	.pxl-item--title {
		font-size: 28px;
		margin-bottom: 31px;
	}
	.pxl-item--meta {
		margin-bottom: 29px;
	}
	.pxl-item--holder {
		margin-bottom: 35px;
	}
	.pxl-item--content {
		p {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.pxl--post-footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	border-bottom: 1px solid rgba(#000, 0.1);
	padding-bottom: 10px;
	> div {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 25px;
	}
	label {
		font-size: 20px;
		color: #000000;
		font-weight: 600;
		@extend .ft-theme-default;
		margin-right: 18px;
	}
	.pxl--tags {
		margin-right: 30px;
		flex-grow: 1;
		a {
			line-height: 34px;
			display: inline-block;
			padding: 0 24px;
			background-color: #f0f0f0;
			color: $dark_color;
			font-size: 14px;
			margin: 5px 5px 5px 0;
			position: relative;
			z-index: 1;
			&:hover {
				color: #fff;
				background-color: $primary_color;
			}
		}
	}
	.pxl--social {
		a {
			font-size: 16px;
			color: $dark_color;
			margin-right: 14px;
			&:hover {
				color: $primary_color;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.pxl-pagination-wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	.page-numbers {
		width: 54px;
        height: 54px;
        background-color: transparent;
        line-height: 52px;
        text-align: center;
        font-size: 20px;
        display: inline-block;
        color: #000000;
        position: relative;
        z-index: 1;
        padding: 0;
        margin: 0 3px;
        border: 1px solid rgba(#000, 0.1);
        @include border-radius(0px);
        &.current, &:hover {
            color: $primary_color;
        }
        i {
        	font-size: 12px;
        }
	}
	.pxl-pagination-links {
		margin-top: 20px;
		display: inline-flex;
	}
}

.pxl-post--navigation {
	padding: 24px 0 19px;
	margin: 0 -15px;
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	@extend .ft-theme-default;
	text-transform: uppercase;
	a {
		color: inherit;
		&:hover {
			color: $primary_color;
		}
	}
	i {
		font-weight: normal;
		font-size: 22px;
	}
	.pxl--item {
		padding: 10px 15px;
	}
    .pxl--item-prev {
    	flex-grow: 1;
    }
    .pxl--label {
    	display: inline-flex;
    	align-items: center;
    }
}

.pxl-post--author-info {
	padding: 30px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	@media #{$max-sm} {
		display: block;
	}
	.pxl-user--name {
		font-size: 20px;
		font-weight: 600;
		color: #000;
		@extend .ft-theme-default;
		margin-top: -10px;
		margin-bottom: 10px;
	}
	.pxl-post--author-description {
		font-size: 16px;
		line-height: 1.625;
		margin-bottom: 14px;
	}
	.pxl-post--author-image {
		width: 140px;
		min-width: 140px;
		@media #{$max-sm} {
			margin-bottom: 32px;
		}
		img {
			border-radius: 140px;
		}
	}
	.pxl-post--author-social a {
		display: inline-flex;
	}
}

.pxl-custom-swiper {
	overflow: hidden;
	position: relative;
}

.pxl-post-gallery-slider .pxl-custom-swiper {
	border-radius: 8px 8px 0 0;
	img {
		@include border-radius(0px);
	}
	.pxl-swiper-arrow.pxl-swiper-arrow-next {
		right: 26px;
	}
	.pxl-swiper-arrow.pxl-swiper-arrow-prev {
		left: 26px;
	}
}

.page-template-default {
	.pxl-sidebar-sticky {
		border: 2px solid #efefef;
		padding: 57px 40px 70px 40px;
		@media #{$max-sm} {
			padding: 50px 30px;
		}
	}
}

.error404 {
	#pxl-main, #pxl-footer-elementor {
		background-color: #{'rgba(var(--primary-color-rgb),0.05)'};
	}
	.pxl-error-inner {
		text-align: center;
	}
	.pxl-error-title {
		font-size: 60px;
		line-height: 1.23;
		margin-bottom: 24px;
		@media #{$max-md} {
			font-size: 48px;
		}
		@media #{$max-sm} {
			font-size: 36px;
		}
	}
	.pxl-error-description {
		font-size: 20px;
		color: $dark_color;
		margin-bottom: 50px;
		@media #{$max-md} {
			max-width: 540px;
			margin-left: auto;
			margin-right: auto;
			font-size: 18px;
		}
	}
	.pxl-error-image1 {
		@media #{$max-md} {
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.pxl-error-image2 {
		margin-top: -60px;
		margin-bottom: 78px;
		@media #{$max-md} {
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
			margin-top: -30px;
			margin-bottom: 60px;
		}
	}
	.pxl-error-shape {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		@media #{$max-lg} {
			display: none;
		}
		.pxl-item-shape1 {
			position: absolute;
			top: 212px;
			left: -180px;
		}
		.pxl-item-shape2 {
			position: absolute;
			top: 15px;
			right: -90px;
		}
		.pxl-item-shape3 {
			position: absolute;
			left: -370px;
			bottom: -210px;
		}
		.pxl-item-shape4 {
			position: absolute;
			right: -412px;
			top: 610px;
		}
	}
	.pxl-error-inner {
		position: relative;
		z-index: 1;
	}
}

.page-links {
    margin-top: 24px;
    clear: left;
    .post-page-numbers {
        width: 36px;
        height: 36px;
        background-color: #fff;
        line-height: 36px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        display: inline-block;
        margin: 15px 15px 0 0;
        color: #080808;
        position: relative;
        z-index: 1;
        padding: 0;
        border: 1px solid #e9e9e9;
        @extend .ft-theme-default;
        @include border-radius(0px);
        &.current, &:hover {
            color: #fff;
            border-color: $primary_color;
            background-color: $primary_color;
        }
    }
}

.pxl-list--check {
	margin: 40px 0;
	list-style: none;
	i {
		color: $primary_color;
		margin-right: 8px;
	}
	li {
		display: flex;
		+ li {
			margin-top: 8px;
		}
	} 
}

#pxl-main {
	position: relative;
	.pxl-blog-shape {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@media #{$max-xxl} {
			display: none;
		}
	}
	.pxl-blog-shape1 {
		position: absolute;
		top: 98px;
		right: 50%;
		margin-right: -905px;
	}
	.pxl-blog-shape2 {
		position: absolute;
		top: 640px;
		left: 0;
	}
	.pxl-blog-shape3 {
		bottom: 350px;
		position: absolute;
		right: 0;
	}
}
.post-type-archive-product {
	#pxl-main .pxl-blog-shape3 {
		bottom: 0;
	}
}

.pxl-blog-heading {
	margin-top: -10px;
	.pxl-blog--subtitle {
		font-size: 22px;
		font-weight: 700;
		color: $primary_color;
		margin-bottom: 6px;
	}
	.pxl-blog--title {
		margin-bottom: 29px;
		font-size: 68px;
		line-height: 1.0899;
	}
	.pxl-blog-divider {
		margin-bottom: 60px;
	}
}

body.rtl .pxl-list--check i {
	margin-right: 0;
	margin-left: 8px;
}