.pxl-nav-menu {

	/* First Level */
	.pxl-menu-primary > li {
		&.menu-item-has-children > a {
			.caseicon-angle-arrow-down {
				display: inline-flex;
				font-size: 10px;
				line-height: 1;
				margin-left: 6px;
				@include transition(transform .25s cubic-bezier(.645,.045,.355,1));
			}
		}
		&:hover > a .caseicon-angle-arrow-down {
			@include transform(rotateX(-180deg));
		}
	}

	/* Style Level First */
	.pxl-menu-item-text {
		position: relative;
	}
	&.fr-style-box {
		.pxl-menu-primary > li {
			margin: 0;
			> a {
				.pxl-menu-item-text {
					line-height: 41px;
					display: inline-flex;
					padding: 0 22px;
					border-radius: 41px;
					align-items: center;
					@include transition(all 300ms linear 0ms);
				}
			}
			> a.pxl-onepage-active,
			&:hover > a,
	        &.current_page_item > a,
	        &.current-menu-item > a,
	        &.current_page_ancestor > a,
	        &.current-menu-ancestor > a {
	        	.pxl-menu-item-text {
		        	color: $secondary_color;
		        	background-color: $primary_color;
			    }
			}
		}
	}

	&.fr-style-icon {
		.pxl-item-menu-icon {
			position: absolute;
			bottom: -32px;
			left: 0;
			right: 0;
			margin: auto;
			display: inline-flex;
			justify-content: center;
			line-height: 1;
			font-size: 28px;
			color: $primary_color;
			opacity: 0;
			@include transition(all 300ms linear 0ms);
		}
		.pxl-menu-primary > li {
			&.menu-item-has-children .pxl-item-menu-icon {
				right: 16px;
			}
			> a.pxl-onepage-active,
			&:hover > a,
	        &.current_page_item > a,
	        &.current-menu-item > a,
	        &.current_page_ancestor > a,
	        &.current-menu-ancestor > a {
	        	color: $primary_color;
	        	.pxl-item-menu-icon {
	        		opacity: 1;
	        		bottom: -22px;
	        	}
	        }
		}
	}

	&.fr-style-icon2 {
		.pxl-menu-primary > li {
			margin: 0 34px;
			> a .pxl-item-menu-icon {
				display: inline-block;
				color: $primary_color;
				font-size: 11px;
				position: absolute;
				top: 50%;
				right: -39px;
				line-height: 1;
				transform: translate(0,-50%);
			}
			&:last-child > a .pxl-item-menu-icon {
				display: none;
			}
		}
		.caseicon-angle-arrow-down {
			display: none !important;
		}
	}

	/* Sub Menu */
	.sub-menu li.menu-item-has-children > a:after {
		content: "\f14d";
		position: absolute;
		top: 50%;
		right: 0;
		@include transform(translate(0, -50%));
		font-size: 10px;
		font-family: "Caseicon";
		font-weight: 400;
	}

	&.show-effect-fade {
		.pxl-menu-primary .sub-menu {
			margin-top: 0;
		}
	}

	&.show-effect-dropdown {
		.pxl-menu-primary {
			.sub-menu {
				@include transform(scaleY(0));
				transform-origin: 0 0 0;
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0 0 0;
				-o-transform-origin: 0 0 0;
				margin-top: 0;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				@include transform(scaleY(1));
			}
		}
	}

	&.show-effect-slidedown {
		.pxl-menu-primary {
			.sub-menu {
				margin-top: 0;
				transform: perspective(500px) rotateX(-20deg);
				transform-origin: 50% 0%;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				transform: perspective(500px) rotateX(0deg);
			}
		}
	}

	&.pxl-nav-vertical {
		.pxl-arrow-toggle {
			position: absolute;
			right: -40px;
			top: 50%;
			transform: translate(0, -50%);
			font-size: 80%;
			width: 40px;
			height: 40px;
			display: inline-flex;
			@include transition(all 300ms linear 0ms);
			opacity: 0;
			align-items: center;
		}
		.pxl-menu-primary {
			padding: 0 50px;
			> li {
				display: block;
				margin: 0;
				+ li {
					margin-top: 30px;
				}
				> a {
					line-height: normal;
					font-size: 36px;
					text-transform: uppercase;
					color: #141414;
					font-weight: 500;
					.caseicon-angle-arrow-down {
						display: none !important;
					}
				}
				.sub-menu {
					position: static;
					opacity: 1;
					visibility: visible;
					box-shadow: none;
					padding: 0;
					text-align: inherit;
					background-color: transparent;
					margin: 0;
					padding-top: 18px;
					display: none;
					transition: none;
					> li {
						padding: 0;
						> a {
							padding: 0;
							display: inline-block;
							font-weight: 400;
							font-size: 19px;
							color: rgba(#000, 0.54);
							border: none;
							&:hover {
								color: $primary_color;
							}
						}
						+ li {
							margin-top: 12px;
						}
					}
				}
			}
			li {
				&.menu-item-has-children > a:hover {
					.pxl-arrow-toggle {
						opacity: 1;
						right: -60px;
					}
				}
			}
		}
	}
	&.pxl-mega-boxed {
		.pxl-megamenu > .sub-menu {
			padding: 20px 15px 15px 15px;
			max-width: 1170px;
		}
	}
}

.pxl-menu-custom1 {
	.pxl-menu-primary > li {
		> a {
			font-size: 18px;
		}
		@media #{$max-xxl} {
			margin: 0 14px;
			> a {
				font-size: 16px;
			}
		}
	}
}

@media #{$min-xl} {
	#pxl-header-default {
		.pxl-menu-primary > li {
			margin: 0 1px;
			> a {
				span {
					line-height: 37px;
					display: inline-flex;
					padding: 0 22px;
					align-items: center;
					position: relative;
					z-index: 1;
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						background-color: $secondary_color;
						z-index: -1;
						@include transition(all .25s cubic-bezier(.645,.045,.355,1));
						transform: scaleY(0);
						transform-origin: bottom center;
					}
				}
			}
			&:hover > a,
	        &.current_page_item > a,
	        &.current-menu-item > a,
	        &.current_page_ancestor > a,
	        &.current-menu-ancestor > a {
	        	color: $primary_color;
	        	span:before {
	        		transform: scaleY(1);
	        	}
		    }
		}
	}
}