/*--------------------------------------------------------------
POST GRID
----------------------------------------------------------------
# Grid Reset
# Grid Loadmore Style
# Grid Filter Style
# Blog
# Portfolio
# Service
# Prodcut
--------------------------------------------------------------*/

// Grid Reset
.pxl-grid, .pxl-post-carousel {
	.pxl-item--featured {
		position: relative;
	}
	.pxl-item--link {
		@extend .pxl-spill;
		z-index: 99;
	}
	.pxl-item--image img, .pxl-item--featured img {
		width: 100%;
	}
	.pxl-item--title a, .item--title a {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
	.item--category { 
		a {
			color: inherit;
		}
	}
	&.pxl-grid-nogap {
		.pxl-grid-masonry {
			margin: 0 !important;
			.pxl-grid-item {
				padding: 0 !important;
			}
			.item--inner {
				margin-bottom: 0;
			}
		}
	}
}

// Grid Loadmore Style
.pxl-load-more {
	.btn:after {
		content: '';
		width: 20px;
		height: 20px;
		@include border-radius(100%);
		border-color: transparent #fff transparent #fff;
		border-width: 1px;
		border-style: solid;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -10px;
		animation: pxl_spin .6s infinite linear;
        -webkit-animation: pxl_spin .6s infinite linear;
        box-sizing: border-box;
        z-index: 2;
        margin-top: -10px;
        opacity: 0;
	}
	.pxl-loadmore-text {
		@include transition(all 300ms linear 0ms);
	}
	&.loading {
		.btn:after {
			opacity: 1;
		}
		.pxl-loadmore-text {
			opacity: 0;
		}
	}
}
.pxl-load-more-style1 {
	.btn {
		padding: 0 38px;
	}
}

.pxl-load-more-style2 {
	.btn.btn-morden {
		line-height: 46px;
		font-size: 15px;
	}
}

// Grid Filter Style
.pxl-grid-filter {
	.filter-item {
		cursor: pointer;
        @include transition(all 300ms linear 0ms);
        position: relative;
	}
}
.pxl-grid-filter1 {
    margin-bottom: 30px;
    .filter-item {
        line-height: 56px;
        font-size: 18px;
        font-weight: 500;
        padding: 0 40px;
        color: #000000;
        display: inline-flex;
        position: relative;
        z-index: 1;
        clip-path: polygon(0% 0%, calc(100% - 18px) 0%, 100% 18px, 100% 100%, 18px 100%, 0% calc(100% - 18px));
        background-color: $primary_color;
        margin: 0 10px 20px 10px;
        @media #{$max-lg} {
        	font-size: 16px;
        	padding: 0 28px;
        }
        @media #{$max-sm} {
        	line-height: 51px;
        }
        &:before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 2px;
            left: 2px;
            bottom: 2px;
            right: 2px;
            background-color: #fff;
            clip-path: polygon(0% 0%, calc(100% - 17px) 0%, 100% 17px, 100% 100%, 17px 100%, 0% calc(100% - 17px));
            @include transition(all 300ms linear 0ms);
        }
        &:hover, &.active {
        	color: $secondary_color;
        	&:before {
        		background-color: $primary_color;
        	}
        }
    }
    .pxl--filter-inner {
    	display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 -10px;
		@media #{$max-sm} {
        	justify-content: center;
        }
    }
}

.pxl-grid-filter2 {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
	.filter-item {
		padding: 6px 26px;
		font-size: 16px;
		font-weight: 700;
		color: rgba(#1c1c1c, 0.57);
		margin-top: 10px;
		@media #{$max-sm} {
    		padding-left: 12px;
    		padding-right: 12px;
    	}
		&:before {
			content: '';
			height: 8px;
			width: 0%;
			margin: 0 auto;
			background-color: $primary_color;
			position: absolute;
			bottom: -5px;
			left: 0;
			right: 0;
			@include transition(all 300ms linear 0ms);
			border-radius: 8px;
		}
		&:hover, &.active {
			color: #1c1c1c;
			&:before {
				width: 100%;
			}
		}
	}
	.pxl--filter-inner {
    	display: inline-flex;
    	border-bottom: 1px solid #dbdbdb;
		flex-wrap: wrap;
		justify-content: center;
		font-family: 'Playfair Display SC', sans-serif;
		@media #{$max-sm} {
    		border: none;
    	}
    }
}

.pxl-grid-filter3 {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 26px;
	.filter-item {
		font-size: 16px;
		color: #fff;
		font-weight: 700;
		line-height: 49px;
		padding: 0 44px;
		border-radius: 49px;
		@media #{$max-sm} {
    		padding-left: 22px;
    		padding-right: 22px;
    	}
		&:hover, &.active {
			background-color: #{'rgba(var(--primary-color-rgb),0.65)'};
		}
	}
	.pxl--filter-inner {
    	display: inline-flex;
    	border: 2px solid #{'rgba(var(--primary-color-rgb),0.65)'};
    	@media #{$max-sm} {
    		border: none;
    	}
    	border-radius: 53px;
		flex-wrap: wrap;
		justify-content: center;
		font-family: 'Playfair Display SC', sans-serif;
    }
}


// Start Blog
//--------------------------------------------------
.pxl-blog-style1 {
	.pxl-item--number {
		font-style: italic;
		font-size: 22px;
		line-height: 1;
		color: #C6C5C5;
		@extend .ft-theme-default;
		display: flex;
		flex-grow: 1;
		justify-content: flex-end;
	}
	.pxl-item--date {
		margin-top: -60px;
		background-color: $primary_color;
		width: 101px;
		height: 97px;
		border-radius: 5px;
		font-size: 18px;
		line-height: 1.2;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		@include transition(all 300ms linear 0ms);
		.pxl-date--day {
			display: block;
			font-size: 30px;
			font-weight: 700;
			@extend .ft-theme-default;
			margin-bottom: 7px;
		}
		@media #{$max-lg} {
			width: 81px;
			height: 77px;
			margin-top: -40px;
			.pxl-date--day {
				font-size: 24px;
				margin-bottom: 5px;
			}
		}
	}
	.pxl-item--meta {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		margin-bottom: 20px;
		margin-top: -30px;
	}
	.pxl-item--holder {
		padding: 30px 35px;
		margin: 0 40px;
		max-width: 450px;
		position: relative;
		z-index: 99;
		@media #{$max-lg} {
			padding-left: 24px;
			padding-right: 24px;
			margin: 0 30px;
		}
		@media #{$max-sm} {
			margin: 0 20px;
		}
		&:before {
			background-color: #fff;
			@extend .pxl-spill;
			z-index: -1;
			@include border-radius(5px);
			@include transition(all 0.4s ease);
			box-shadow: 0 5px 15px rgba(#000, 0.05);
		}
	}
	.pxl-item--title {
		margin-bottom: 0;
		@media #{$max-lg} {
			font-size: 20px;
		}
		@media #{$max-xs} {
			font-size: 18px;
		}
	}
	.pxl-item--button {
		position: absolute;
		bottom: -18px;
		left: 35px;
		@include transition(all 0.4s ease);
		transform: scaleY(0);
		transform-origin: top center;
		.btn {
			line-height: 40px;
			padding: 0 29px;
			clip-path: polygon(0% 0%, calc(100% - 14px) 0%, 100% 14px, 100% 100%, 14px 100%, 0% calc(100% - 14px));
			&:hover {
				clip-path: polygon(0% 0%, 100% 0%, 100% 18px, 100% 100%, 18px 100%, 0% 100%);
			}
		}
	}
	.pxl-item--featured {
		@include border-radius(5px);
		+ .pxl-item--holder {
			margin-top: -110px;
			@media #{$max-lg} {
				margin-top: -60px;
			}
			@media #{$max-sm} {
				margin-top: -40px;
			}
		}
	}
	.pxl-item--inner {
		margin-bottom: 70px;
		position: relative;
		&:hover {
			z-index: 101;
			.pxl-item--holder::before {
				height: calc(100% + 70px);
			}
			.pxl-item--button {
				transform: scaleY(1);
				bottom: -38px;
			}
			.pxl-item--date {
				background-color: $secondary_color;
				color: #fff;
			}
		}
	}
	.pxl-pagination-wrap .pxl-pagination-links {
		margin-top: 70px;
	}
	&.pxl-blog-grid {
		.pxl-item--inner {
			margin-bottom: 30px;
		}
	}
}

.pxl-blog-style2 {
	.pxl-item--featured {
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 22px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 99;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.pxl-item--category {
		font-size: 18px;
		color: #101010;
		font-weight: 700;
		padding: 0 14px;
		line-height: 37px;
		border-radius: 6px;
		background-color: $primary_color;
		position: absolute;
		top: 28px;
		a {
			color: inherit;
			&:hover {
				color: inherit;
			}
		}
	}
	.pxl-item--title {
		font-size: 30px;
		margin-bottom: 20px;
		@media #{$max-lg} {
			font-size: 24px;
		}
	}
	.pxl-item--content {
		font-size: 21px;
		line-height: 1.428;
		color: #101010;
		margin-bottom: 16px;
		@media #{$max-lg} {
			font-size: 18px;
		}
	}
	.pxl-swiper-slide:nth-child(odd) {
		.pxl-item--featured:before {
			background-image: url(../img/item-shape1.png);
		}
	}
	.pxl-swiper-slide:nth-child(even) {
		.pxl-item--featured:before {
			background-image: url(../img/item-shape2.png);
		}
	}
}

.pxl-blog-style3 {
	.pxl-item--featured {
		margin-bottom: 33px;
		.pxl-md-featured {
			@media #{$max-sm} {
				display: none;
			}
		}
		.pxl-sm-featured {
			display: none;
			@media #{$max-sm} {
				display: block;
				min-height: 230px;
			}
		}
	}
	.pxl-item--title {
		font-size: 24px;
		line-height: 1.5;
		font-family: inherit;
		color: #fff;
		margin-bottom: 13px;
	}
	.pxl-item--content {
		font-size: 17px;
		color: #838383;
		line-height: 1.647;
		margin-bottom: 30px;
	}
	.pxl-item--button .btn {
		border-color: #fff6ef;
	}
	.pxl-item--meta {
		font-size: 13px;
		margin-bottom: 9px;
		label {
			color: #c5c5c5;
			text-transform: capitalize;
		}
		.pxl-item--date, .pxl-item--category {
			color: #fff;
			text-transform: uppercase;
		}
	}
	.pxl-dot-spacer {
		width: 5px;
		height: 5px;
		background-color: $primary_color;
		transform: rotate(45deg);
		margin: 0 12px;
	}
	.pxl-item--inner {
		padding-bottom: 4px;
	}
}
// End Blog
//--------------------------------------------------

// Start Portfolio
//--------------------------------------------------
.pxl-item--imgfilter {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	z-index: -1;
	img {
		filter: blur(14px);
	}
	&:before {
		@extend .pxl-spill;
		background-color: #{'rgba(var(--primary-color-rgb),0.25)'};
		z-index: 1;
	}
	&:after {
		@extend .pxl-spill;
		background-color: rgba(#000, 0.4);
		z-index: 2;
	}
}

.pxl-portfolio-style1 {
	.pxl-item--title {
		color: #fff;
		margin-bottom: 4px;
		font-size: 24px;
		@include transition(all 300ms linear 0ms);
		transform: translateY(100%);
	}
	.pxl-item--category {
		font-size: 18px;
		color: #fff;
		a {
			display: inline-block;
			color: inherit;
			transform: translateY(100%);
			@include transition(all 300ms linear 0ms);
		}
	}
	.pxl-item--meta {
		width: 100%;
	}
	.pxl-item--holder {
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		z-index: 99;
		padding: 20px;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: auto;
		overflow: hidden;
		max-height: 222px;
		@media #{$max-lg} {
			max-height: 100%;
		}
	}
	.pxl-item--imgfilter {
		@include transition(all 300ms linear 0ms);
		opacity: 0;
		@media #{$max-lg} {
			width: calc(100% + 40px) !important;
			height: calc(100% + 40px) !important;
			top: -20px;
			left: -20px;
			bottom: -20px;
			right: -20px;
			transform: translate(0%, 0%);
		}
	}
	.pxl-item--title-wrap, .pxl-item--category {
		overflow: hidden;
	}
	.pxl-item--inner {
		position: relative;
		margin-bottom: 30px;
		&:before {
			@extend .pxl-spill;
			background-color: rgba(#000, 0.5);
			z-index: 1;
			@include transition(all 300ms linear 0ms);
			opacity: 0;
		}
		&:hover {
			&:before {
				opacity: 1;
			}
			.pxl-item--imgfilter {
				opacity: 1;
			}
			.pxl-item--title, .pxl-item--category a {
				transform: translateY(0%);
			}
		}
	}
	@media #{$min-xl} {
		.pxl-grid-item {
			&.col-xl-6, &.col-lg-66-pxl {
				.pxl-item--holder {
					max-width: 377px;
					@media #{$max-lg} {
						max-height: 100%;
					}
				}
			}
		}
	}
}
// End Portfolio
//--------------------------------------------------

// Start Service
//--------------------------------------------------
.pxl-service-style1 {
	.pxl-item--icon {
		line-height: 1;
		color: #fff;
		font-size: 58px;
		margin-bottom: 15px;
		@media #{$max-lg} {
			font-size: 48px;
		}
		@media #{$max-sm} {
			font-size: 34px;
		}
	}
	.pxl-item--title {
		font-size: 24px;
		margin-bottom: 14px;
		color: #fff;
		a {
			color: inherit;
			&:hover {
				color: inherit;
			}
		}
		@media #{$max-sm} {
			font-size: 20px;
		}
	}
	.pxl-item--content {
		font-size: 16px;
		line-height: 1.625;
		color: rgba(#fff, 0.8);
	}
	.pxl-item--holder {
		width: 100%;
	}
	.pxl-item--overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;
		img {
			position: absolute;
			bottom: -20px;
			left: -20px;
			right: -20px;
			margin: auto;
			max-width: calc(100% + 40px);
			filter: blur(14px);
		}
		&:before {
			@extend .pxl-spill;
			background-color: #{'rgba(var(--primary-color-rgb),0.3)'};
			z-index: 1;
		}
	}
	.pxl-item--readmore {
		@media #{$max-xs} {
			margin-top: 38px;
		}
		.btn {
			padding-left: 48px;
			padding-right: 48px;
			@media #{$max-lg} {
				line-height: 51px;
				padding: 0 34px;
				font-size: 16px;
			}
		}
	}
	.pxl-item--front {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		padding: 18px 30px 22px;
		z-index: 1;
		@include transition(all 500ms cubic-bezier(.3,.3,0,.8));
	}
	.pxl-item--back {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		top: 20px;
		z-index: 1;
		padding: 30px 30px 20px 30px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		@include transition(all 500ms cubic-bezier(.3,.3,0,.8));
		@include transform(perspective(500px) rotateX(-90deg));
		.pxl-item--title {
			font-size: 28px;
			@media #{$max-lg} {
				font-size: 24px;
			}
			@media #{$max-sm} {
				font-size: 20px;
			}
		}
		.pxl-item--overlay:before {
			background-color: rgba(#000, 0.3);
		}
		.pxl-item--content {
			margin-bottom: 40px;
			@media #{$max-lg} {
				margin-bottom: 28px;
			}
			@media #{$max-xs} {
				display: none;
			}
		}
	}
	.pxl-item--inner {
		position: relative;
		text-align: center;
		margin-bottom: 30px;
		&:hover {
			.pxl-item--back {
				@include transform(perspective(500px) rotateX(0deg));
			}
			.pxl-item--front {
				@include transform(perspective(500px) rotateX(90deg));
				-webkit-transform-origin: 50% bottom;
				transform-origin: 50% bottom;
			}
		}
	}
}
// End Service
//--------------------------------------------------

// Start Product
//--------------------------------------------------
.pxl-product-grid-layout1 {
	.pxl-item--inner {
		margin-bottom: 40px;
	}
}

.pxl-product-grid-layout2 {
	.pxl-item--image {
		margin: -40px -40px 0 -40px;
		border-radius: 5px 5px 0 0;
		position: relative;
		img {
			@include transition(all 300ms linear 0ms);
		}
	}
	.pxl-item--title {
		margin-bottom: 0;
		font-size: 18px;
		line-height: 1.111111;
		color: #fff;
		min-height: 40px;
		flex-grow: 1;
	}
	.pxl-item--details {
		display: inline-block;
		width: 43px;
		min-width: 43px;
		height: 35px;
		font-size: 24px;
		color: #fff;
		background-color: $primary_color;
		border-radius: 5px;
		text-align: center;
		line-height: 35px;
	}
	.pxl-item--meta {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	.pxl-item--price {
		flex-grow: 1;
	}
	.pxl-item--top {
		color: #969696;
		margin-bottom: 8px;
		@include transition(all 300ms linear 0ms);
	}
	.pxl-item--attr {
		position: absolute;
		bottom: 10px;
		right: 40px;
		display: inline-flex;
		.pxl-attr--content {
			font-size: 14px;
			line-height: 22px;
			color: #dacfca;
			padding: 14px 22px;
			border-radius: 5px;
			background-color: rgba(#2d1a07, 0.95);
			position: absolute;
			bottom: 100%;
			right: -20px;
			margin-bottom: 25px;
			width: 240px;
			@include transition(all 300ms linear 0ms);
			opacity: 0;
			visibility: hidden;
			&:before {
				content: '';
				width: 0;
				height: 0;
				border-width: 6px;
				border-style: solid;
				border-color: rgba(#2d1a07, 0.95) transparent transparent transparent;
				position: absolute;
				bottom: -12px;
				right: 26px;
			}
			label {
				color: #fff;
				font-size: 16px;
				font-weight: 700;
			}
			.pxl-attr--item + .pxl-attr--item {
				margin-top: 8px;
			}
		}
		.pxl-button--info {
			font-size: 25px;
			color: #969696;
			width: 25px;
			height: 25px;
			display: inline-flex;
			align-items: center;
			cursor: pointer;
			@include transition(all 300ms linear 0ms);
			&.active + .pxl-attr--content, &:hover + .pxl-attr--content {
				opacity: 1;
				visibility: visible;
				margin-bottom: 15px;
			}
		}
	}
	.pxl-item--inner {
		margin-bottom: 14px;
		background-color: rgba(#222222, 0.7);
		border: 1px solid #484848;
		border-radius: 5px;
		padding: 40px 40px 37px 40px;
		overflow: hidden;
		@include transition(all 300ms linear 0ms);
		@media #{$max-md} {
			padding-left: 30px;
			padding-right: 30px;
		}
		&:hover {
			border-color: $primary_color;
			background-color: #{'rgba(var(--third-color-rgb),0.9)'};
			.pxl-item--top {
				color: #ffd9b7;
			}
			.pxl-item--attr .pxl-button--info {
				color: #ffd9b7;
			}
			.pxl-item--image img {
				transform: scale(1.08);
			}
		}
	}
	.pxl-grid-inner {
		margin-left: -7px;
		margin-right: -7px;
		.pxl-grid-item {
			padding: 0 7px;
		}
	}
	.pxl-load-more {
		padding-top: 24px;
	}
}

.pxl-product-grid-layout3 {
	.pxl-item--image {
		margin-bottom: 25px;
	}
	.pxl-item--title {
		padding-bottom: 16px;
		margin-bottom: 0px;
		font-size: 18px;
		font-family: inherit;
		border-bottom: 2px solid #676767;
	}
	.pxl-item--cart {
		flex-grow: 1;
		a {
			display: inline-flex;
			line-height: 39px;
			color: #382212;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			border-radius: 39px;
			padding: 0 23px;
			box-shadow: 0 6px 6px rgba(#000000, 0.14), 0 10px 18px rgba(#000, 0.11) inset;
			background-color: $primary_color;
			&.added {
				display: none;
			}
			&:hover {
				background-color: $third_color;
				color: #fff;
			}
			&.loading {
				padding-right: 36px;
				&:before {
					content: '';
					width: 14px;
					height: 14px;
					@include border-radius(100%);
					border-color: transparent #382212 transparent #382212;
					border-width: 1.5px;
					border-style: solid;
					position: absolute;
					top: 0;
					right: 12px;
					bottom: 0;
					margin: auto;
					animation: pxl_spin .6s infinite linear;
			        -webkit-animation: pxl_spin .6s infinite linear;
			        box-sizing: border-box;
			        z-index: 2;
				}
			}
		}
	}
	.pxl-item--price {
		padding: 0 23px;
		font-size: 24px;
		color: #000000;
		font-weight: 700;
	}
	.pxl-item--meta {
		padding-top: 20px;
	}
	.pxl-item--inner {
		margin-bottom: 45px;
	}
}

.pxl-shop-toolbars {
	position: relative;
	margin-bottom: 56px;
	select {
		border: none;
	}
	&:before, &:after {
		content: '';
		height: 1px;
		background-color: #ececec;
		position: absolute;
		width: 100000px;
		left: -5000px;
		right: -5000px;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0px;
	}
	.pxl-number-result {
		font-size: 16px;
		color: #000;
		font-style: italic;
		@media #{$max-sm} {
			min-height: 53px;
			align-items: center;
		}
	}
	.pxl-sort-by {
		flex-grow: 1;
	}

	.nice-select {
		padding: 0;
		border: none;
		height: 53px;
		background-color: transparent;
		@media #{$max-sm} {
			position: static;
		}
		&:before {
			display: none;
		}
		span.current {
			font-size: 16px;
			color: #000;
			font-weight: 700;
			display: inline-flex;
			align-items: center;
			&:after {
				content: "\f150";
				font-family: Caseicon;
				font-size: 13px;
				font-weight: 400;
				margin-left: 24px;
				@include transition(all 300ms linear 0ms);
			}
		}
		.option {
			color: #666;
		}
		ul.list {
			min-width: 250px;
			@media #{$max-sm} {
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
		&.open span.current:after {
			transform: scaleY(-1);
		}
	}
	.pxl-filter-by, .pxl-sort-by {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	.pxl-toolbar-inner {
		margin: 0 -27px;
		> div {
			padding: 0 27px;
			@media #{$max-sm} {
				width: 100%;
				display: flex;
				justify-content: center;
				position: relative;
			}
		}
		label {
			font-size: 12px;
			text-transform: uppercase;
			color: $third_color;
			font-weight: 700;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}
}

.pxl-product-style2 {
	.pxl-item--image {
        margin-bottom: 22px;
    }
    .pxl-item--title {
        margin-bottom: 0;
        font-size: 24px;
        margin-bottom: 0;
    }
    .pxl-item--description {
        font-size: 14px;
        color: #9f9f9f;
        margin-top: -2px;
    }
    .pxl-item--price {
        font-weight: 700;
        color: #000000;
        font-size: 18px;
        flex-grow: 1;
    }
    .woosw-btn {
        font-size: 18px;
        margin-right: -6px;
        font-size: 0px;
        color: #2b2b2b;
        display: inline-flex;
        width: 24px;
        height: 24px;
        line-height: 24px;
        align-items: center;
        justify-content: center;
        position: relative;
        background: none !important;
        padding: 0;
        &:before, &:after {
            font-family: "Flaticon";
            @extend .pxl-middle;
            font-size: 18px;
            @include transition(all 300ms linear 0ms);
        }
        &:before {
            content: "\f140";
        }
        &:after {
            content: "\f13f";
            opacity: 0;
            color: #f44336;
        }
        &.woosw-added {
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        }
    }
    .pxl-item--bottom {
        align-items: center;
        margin-top: 4px;
    }
    .pxl-item--holder {
        position: relative;
        z-index: 9;
    }
    .pxl-item--inner {
        border-radius: 30px;
        padding: 10px 27px 24px 27px;
        position: relative;
        z-index: 1;
        margin-right: 6px;
        margin-bottom: 52px;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }
        &:before {
            background-color: $primary_color;
            z-index: -2;
            opacity: 0;
            @include transition(all 300ms linear 0ms);
        }
        &:after {
            z-index: -1;
            @include background-gradient-rotate(135deg, #ededed 50%, #fff);
        }
        &:hover {
            &:before {
                top: 6px;
                left: 6px;
                opacity: 1;
            }
        }
    }
    .pxl-item--odd {
        margin-top: 42px;
    }
    .pxl-swiper-arrow-wrap {
        margin-top: -42px;
        justify-content: end;
        position: relative;
        z-index: 99;
    }
}

.pxl-product-grid-layout4 {
	.pxl-item--price {
		line-height: 38px;
		padding: 0 16px;
		@extend .ft-theme-default;
		font-size: 20px;
		font-weight: 700;
		background-color: $primary_color;
		color: #fff;
		position: absolute;
		top: 15px;
		right: 15px;
	}
	.pxl-item--image {
		position: relative;
		margin-bottom: 14px;
	}
	.pxl-item--title {
		margin-bottom: 0;
		font-size: 22px;
		border-bottom: 1px solid rgba(#1F2022, 0.1);
		margin-bottom: 15px;
		padding-bottom: 14px;
	}
	.pxl-item--ingredient {
		font-size: 16px;
		color: rgba(#2D2D2D, 0.8);
	}
	.pxl-item--inner {
		margin-bottom: 32px;
	}
}

.pxl-product-grid-layout5 {
	.pxl-item--image {
		margin-bottom: 18px;
	}
	.pxl-item--title {
		font-size: 22px;
		margin-bottom: 14px;
	}
	.pxl-item--ingredient {
		font-size: 16px;
		color: rgba(#2D2D2D, 0.8);
		margin-bottom: 22px;
	}
	.pxl-item--button {
		padding: 6px 0;
		.btn {
			font-size: 16px;
			line-height: 34px;
			padding: 0 26px;
			font-weight: 400;
			clip-path: polygon(0% 0%, calc(100% - 11px) 0%, 100% 11px, 100% 100%, 11px 100%, 0% calc(100% - 11px));
			@media #{$max-lg} {
				padding: 0 18px;
			}
			&:hover {
	            clip-path: polygon(11px 0,100% 0,100% calc(100% - 11px),calc(100% - 11px) 100%,0 100%,0 11px);
	        }
		}
	}
	.pxl-item--price {
		@extend .ft-theme-default;
		font-size: 18px;
		line-height: 34px;
		font-weight: 700;
		color: $primary_color;
	}
	.pxl-item--meta {
		border-top: 1px solid rgba(#000, 0.15);
		border-bottom: 1px solid rgba(#000, 0.15);
		> div {
			width: 50%;
		}
	}
	.pxl-item--button {
		display: flex;
		justify-content: flex-end;
		border-left: 1px solid rgba(#000, 0.15);
	}
	.pxl-item--inner {
		margin-bottom: 30px;
	}
	.pxl-pagination-wrap {
		justify-content: center;
	}
}

.pxl-product-grid-layout6 {
	.pxl-item--title {
		margin-bottom: 4px;
		font-size: 18px;
	}
	.pxl-item--price {
		font-size: 14px;
		font-weight: 500;
		color: $primary_color;
	}
	.pxl-item--meta {
		flex-grow: 1;
	}
	.pxl-item--holder {
		padding: 10px 0 10px 14px;
		border: 1px solid rgba(#000, 0.1);
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		min-height: 97.43px;
	}
	.pxl-item--image + .pxl-item--holder {
		border-top: none;
	}
	.pxl-item--readmore {
		width: 34px;
		height: 34px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: $primary_color;
		min-width: 34px;
		svg {
			fill: #fff;
		}
	}
	.pxl-item--inner {
		margin-bottom: 20px;
	}
}
// End Prodcut
//--------------------------------------------------
.pxl-gallery-grid1 {
	.pxl-item--meta {
		position: absolute;
		left: 27px;
		bottom: 27px;
		right: 27px;
		background-color: #fff;
		border-radius: 6px;
		padding: 17px 20px;
		@include transition(all 300ms linear 0ms);
		opacity: 0;
		transform: translateY(-20px);
		.pxl-item--title {
			font-size: 20px;
			margin-bottom: 3px;
		}
		.pxl-item--subtitle {
			font-size: 13px;
			color: rgba(#1e1e1e, 0.63);
		}
	}
	.pxl-item--inner {
		position: relative;
		margin-bottom: 30px;
		overflow: hidden;
		border-radius: 6px;
		&:hover {
			.pxl-item--meta {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}
}