.pxl-tabs {
    .pxl-tab--title {
    	display: inline-flex;
        cursor: pointer;
        @include transition(all 250ms linear 0ms);
        position: relative;
    }
    .pxl-tab--content {
        display: none;
        width: 100%;
    }
    .elementor-section.elementor-section-stretched {
        width: auto !important;
        left: 0 !important;
    }
    .pxl-tabs--elementor > .elementor {
        margin: 0 -15px;
    }
    &.tab-effect-fade {
        .pxl-tab--content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100% !important;
            display: block !important;
            opacity: 0 !important;
            visibility: hidden;
            @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            &.active {
                position: static;
                opacity: 1 !important;
                visibility: visible;
            }
        }
        .pxl-tabs--content {
            position: relative;
        }
    }
}

.pxl-tabs1 {
	&.style-1 {
		.pxl-tab--number {
			width: 25px;
			height: 25px;
			display: flex;
			flex-wrap: wrap;
			line-height: 25px;
			justify-content: center;
			background-color: #e51400;
			border-radius: 25px;
			font-size: 14px;
			position: absolute;
			top: -17px;
			right: 10px;
			box-shadow: 0 1px 9px rgba(#000000, 0.67);
			opacity: 0;
			@include transition(all 300ms linear 0ms);
			transform: scale(0);
		}
		.pxl-tab--title {
			background-color: #33363b;
			line-height: 47px;
			padding: 0 29px;
			color: #d0d0d0;
			font-size: 16px;
			font-weight: 700;
			margin: 0 6px 12px 6px;
			border-radius: 3px;
			&.active, &:hover {
				background-color: $primary_color;
				color: #fff;
				.pxl-tab--number {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
		.pxl-tabs--title {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 23px;
		}
	}
	&.style-2 {
		.pxl-tab--number {
			font-size: 12px;
			color: #000000;
			font-weight: 700;
			width: 28px;
			line-height: 28px;
			height: 28px;
			border-radius: 28px;
			background-color: #fff;
			position: absolute;
			top: -10px;
			right: 10px;
			box-shadow: 0 0 9px rgba(#000000, 0.14);
			@include transition(all 300ms linear 0ms);
			transform: scale(0);
			opacity: 0;
			@media #{$max-sm} {
				right: -10px;
			}
		}
		.pxl-tab--title {
			font-size: 18px;
			color: #1b1c2b;
			font-weight: 700;
			padding: 0 37px;
			min-width: 128px;
			text-align: center;
			line-height: 43px;
			border-radius: 43px;
			text-align: center;
			justify-content: center;
			@media #{$max-sm} {
				font-size: 15px;
				padding: 0 24px;
				min-width: auto;
			}
			&.active, &:hover {
				background-color: $primary_color;
				color: #fff;
				.pxl-tab--number {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
		.pxl-tabs--title {
			margin-bottom: 30px;
			@media #{$max-md} {
				justify-content: center;
				display: flex;
				flex-wrap: wrap;
			}
		}
	}

	&.style-3 {
		.pxl-tab--title {
			font-size: 24px;
			color: #535353;
			font-weight: 700;
			padding: 23px 20px;
			@media #{$max-lg} {
				font-size: 20px;
				padding-top: 14px;
				padding-bottom: 14px;
			}
			&.active, &:hover {
				color: $third_color;
			}
		}
		.pxl-tabs--title {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			max-width: 870px;
			margin: 0 auto 55px auto;
			position: relative;
			&:before {
				content: '';
				height: 0;
				left: -130px;
				right: -130px;
				bottom: 0;
				position: absolute;
				border-bottom: 4px dotted #1f1e19;
				@media #{$max-lg} {
					left: 0;
					right: 0;
				}
			}
		}
	}

	&.style-4 {
		.pxl-tab--title {
			background-color: transparent;
			border: 1px solid $primary_color;
			line-height: 50px;
			padding: 0 25px;
			color: $primary_color;
			font-size: 22px;
			font-weight: 500;
			@extend .ft-theme-default;
			margin: 0 10px 20px 10px;
			&.active, &:hover {
				background-color: $primary_color;
				color: $secondary_color;
			}
			@media #{$max-md} {
				font-size: 18px;
			}
			@media #{$max-md} {
				font-size: 16px;
				line-height: 46px;
				padding: 0 22px;
				margin: 0 5px 10px 5px;
			}
		}
		.pxl-tabs--title {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 23px;
		}
	}
}

.pxl-tabs-carousel1 {
	.pxl-tab--title {
		font-size: 18px;
		color: #101010;
		font-weight: 700;
		text-align: center;
		position: relative;
		margin-bottom: 40px;
		padding-bottom: 11px;
		@include transition(all 300ms linear 0ms);
		&:before {
			content: '';
			width: 11px;
			height: 11px;
			border-radius: 11px;
			background-color: #0e0906;
			position: absolute;
			bottom: -14px;
			left: 50%;
			@include transform(translate(-50%, 0));
			z-index: 2;
			@include transition(all 300ms linear 0ms);
		}
		&:after {
			content: '';
			width: 23px;
			height: 23px;
			border-radius: 23px;
			background-color: #fff;
			border: 3px solid $primary_color;
			z-index: 1;
			box-shadow: 0 5px 18px rgba(#000000, 0.35);
			position: absolute;
			bottom: -20px;
			left: 50%;
			@include transform(translate(-50%, 0));
			@include transition(all 300ms linear 0ms);
			opacity: 0;
		}
	}
	.swiper-slide-thumb-active {
		.pxl-tab--title {
			color: $primary_color;
			&:before {
				background-color: $primary_color;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	.pxl-swiper-thumbs-wrap {
		margin: 0 0 20px;
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			height: 2px;
			left: 70px;
			right: 70px;
			bottom: 30px;
			background-color: #c7cdcb;
			position: absolute;
		}
	}
	.pxl-swiper-arrow-wrap {
		margin: 0;
		.pxl-swiper-arrow {
			color: #b4b4b4;
			background: none;
			font-size: 34px;
			margin: 0;
			position: absolute;
			top: -2px;
			&.pxl-swiper-arrow-prev {
				left: 0;
			}
			&.pxl-swiper-arrow-next {
				right: 0;
			}
			&:hover {
				color: #000;
			}
		}
	}
}