/*--------------------------------------------------------------
TEAM GRID
----------------------------------------------------------------
# Team Grid
--------------------------------------------------------------*/
.pxl-team-layout1 {
	.pxl-item--title {
		margin-bottom: 13px;
		color: #fff;
		font-size: 24px;
	}
	.pxl-item--position {
		color: rgba(#fff, 0.5);
	}
	.pxl-item--image {
		padding: 0 10px;
		margin-bottom: 26px;
		position: relative;
		img {
			margin-top: -170px;
		}
		.pxl-item--shape {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
			}
		}
	}
	.pxl-item--social {
		display: inline-flex;
		margin-top: 0px;
		z-index: 99;
		background-color: $primary_color;
		clip-path: polygon(0% 0%, calc(100% - 14px) 0%, 100% 14px, 100% 100%, 14px 100%, 0% calc(100% - 14px));
		position: relative;
		padding: 0 12px;
		top: -22px;
		margin-bottom: 4px;
		a {
			color: #fff;
			font-size: 16px;
			display: inline-flex;
			width: 34px;
			height: 48px;
			line-height: 48px;
			justify-content: center;
			align-items: center;
			&:hover {
				transform: translateY(-2px);
			}
		}
	}
	.pxl-item--phone, .pxl-item--email {
		a {
			color: #000;
			font-weight: 500;
			&:hover {
				color: $primary_color;
			}
		}
	}
	.pxl-item--divider {
		height: 1px;
		width: 100%;
		background-color: #D9D9D9;
		position: relative;
		margin: 17px 0;
		&:before {
			content: '';
			width: 12px;
			height: 12px;
			background-color: $primary_color;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 99;
		}
	}
	.pxl-item--holder {
		background-color: #1f2022;
		margin-top: 170px;
		border-radius: 5px 5px 0 0;
		padding-bottom: 48px;
	}
	.pxl-item--bottom {
		background-image: url(../img/team-bg1.jpg);
		padding-bottom: 20px;
	}
	.pxl-item--inner {
		margin-bottom: 34px;
		text-align: center;
	}
}

.pxl-team-layout2 {
	.pxl-item--top {
		position: relative;
	}
	.pxl-item--image {
		max-width: 243px;
		position: relative;
		margin: 0 auto;
		border-radius: 243px;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 243px;
			background-color: rgba(#000, 0.74);
			@include transition(all 300ms linear 0ms);
			opacity: 0;
		}
		&:after {
			content: '';
			width: 208px;
			height: 210px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(../img/team-overlay.png);
			position: absolute;
			top: -50px;
			right: 0;
			@include transition(all 300ms linear 0ms);
			opacity: 0;
		}
		img {
			border-radius: 243px;
		}
	}
	.pxl-item--social {
		@include transition(all 300ms linear 0ms);
		opacity: 0;
		position: absolute;
		top: 50%;
		@include transform(translate(0, -50%));
		left: 0;
		right: 0;
		text-align: center;
		z-index: 89;
		a {
			color: #fff;
			font-size: 17px;
			display: inline-block;
			margin: 0 6px;
			&:hover {
				color: $primary_color;
			}
		}
	}
	.pxl-round-box {
		&:before, &:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 100%; 
			padding: 4px; 
			background-image: linear-gradient(to right, $primary_color 0%, #{'rgba(var(--primary-color-rgb),0.05)'} 30%, #{'rgba(var(--primary-color-rgb),0.05)'} 70%, $primary_color 100%);
			-webkit-mask: 
			linear-gradient(#fff 0 0) content-box, 
			linear-gradient(#fff 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude;
			@include transition(all 600ms linear 0ms);
		}
		&:before {
			width: 345px;
			height: 345px;
			transform: translate(-50%, -50%) rotate(0deg);
			@media #{$max-sm} {
				opacity: 0;
			}
		}
		&:after {
			width: 297px;
			height: 297px;
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
	.pxl-item--holder {
		text-align: center;
		background-color: #fff;
		border-radius: 94px;
		box-shadow: 0 7px 54px rgba(#0c0c0c, 0.17);
		position: relative;
		z-index: 99;
		max-width: 320px;
		margin: -60px auto 40px auto;
		padding: 18px 0;
		position: relative;
		.pxl-item--title {
			margin-bottom: 0;
			font-size: 22px;
		}
		.pxl-item--position {
			font-size: 16px;
			color: #666666;
		}
		.pxl-item--link	{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 66;
		}
	}
	.pxl-item--bottom {
		font-size: 16px;
		color: #666;
		max-width: 294px;
		margin: 0 auto;
		border: 1px solid #e7e7e7;
		> div {
			display: flex;
			align-items: center;
			width: 100%;
			flex-wrap: nowrap;
			position: relative;
		}
		a {
			color: inherit;
			display: block;
			padding: 0 26px;
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 8;
			}
			&:hover {
				color: inherit;
			}
		}
		i {
			font-size: 18px;
			color: $primary_color;
			min-width: 47px;
			width: 47px;
			height: 47px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-right: 1px solid #e7e7e7;
		}
		.pxl-item--phone {
			border-top: 1px solid #e7e7e7;
		}
	}
	.pxl-item--inner {
		margin-top: 60px;
		margin-bottom: 1px;
		&:hover {
			.pxl-item--social {
				margin-top: 26px;
				opacity: 1;
			}
			.pxl-item--image {
				&:before, &:after {
					opacity: 1;
				}
			}
			.pxl-round-box {
				&:before {
					transform: translate(-50%, -50%) rotate(360deg);
				}
				&:after {
					transform: translate(-50%, -50%) rotate(-90deg);
				}
			}
		}
	}
	.pxl-swiper-container {
		margin: 0 -27px;
		.pxl-swiper-slide {
			padding: 0 27px;
		}
	}
}

.pxl-team-layout3 {
	z-index: 1;
	padding: 0 15px;
	.pxl-team--shape {
		position: absolute;
		height: 298px;
		width: 100%;
		top: -28px;
		left: 0;
		right: 0;
		border-radius: 298px;
		border: 6px solid rgba(#fff, 0.4);
		box-shadow: 0 13px 29px rgba(#000000, 0.12);
		@media #{$max-xs} {
			display: none;
		}
		&:before {
			content: '';
			z-index: -1;
			background-color: #{'rgba(var(--primary-color-rgb),0.4)'};
			border-radius: 298px;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			position: absolute;
		}
	}
	.pxl-item--image {
		width: 242px;
		margin: 0 auto 62px auto;
		border-radius: 242px;
		overflow: hidden;
		border: 14px solid #fff;
		img {
			border-radius: 242px;
			@include transition(all 300ms linear 0ms);
		}
	}
	.pxl-item--title {
		margin-bottom: 8px;
		font-size: 30px;
	}
	.pxl-item--position {
		font-size: 16px;
		color: #666;
	}
	.pxl-item--bottom {
		padding-top: 22px;
		max-width: 190px;
		margin: 25px auto 0 auto;
		border-top: 1px solid #cccccc;
		justify-content: center;
		font-size: 16px;
		font-style: italic;
		color: #666;
		i {
			font-size: 18px;
			color: #1b1c2b;
		}
		span {
			display: inline-flex;
		}
		a {
			color: inherit;
			&:hover {
				color: #222;
			}
		}
	}
	.pxl-item--inner {
		text-align: center;
		&:hover {
			.pxl-item--image img {
				transform: scale(1.12);
			}
		}
	}
}