/*--------------------------------------------------------------
TESTIMONIALS GRID
----------------------------------------------------------------
# Testimonial Grid
# Testimonial Carousel
--------------------------------------------------------------*/

// Testimonial Grid
.pxl-testimonial-grid1 {
    
}

// Testimonial Carousel
.pxl-testimonial-carousel1 {
    .pxl-item--avatar {
        width: 70px;
        min-width: 70px;
        img {
            border-radius: 80px;
        }
        @media #{$min-md} {
            display: none;
        }
    }
    .pxl-item--heading {
    	margin-bottom: 40px;
    	font-size: 50px;
        @media #{$max-lg} {
            font-size: 36px;
            margin-bottom: 32px;
        }
        @media #{$max-sm} {
            font-size: 24px;
        }
    }
    .pxl-item--desc {
    	font-size: 20px;
		color: #2D2D2D;
		line-height: 1.6;
		margin-bottom: 46px;
        @media #{$max-md} {
            font-size: 18px;
        }
    }
    .pxl-item--title {
    	font-size: 20px;
    	margin-bottom: 6px;
    }
    .pxl-item--position {
    	font-size: 16px;
    	color: #2D2D2D;
        @media #{$max-sm} {
            font-size: 15px;
        }
    }
    .pxl-item--boxleft {
    	background-color: #f8f8f8;
    	padding: 71px 80px;
    	position: relative;
        @media #{$max-lg} {
            padding: 70px 40px 60px 40px;
        }
        @media #{$max-md} {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media #{$max-sm} {
            padding: 70px 22px 40px 22px;
        }
    	> svg {
    		fill: $primary_color;
    		position: absolute;
    		top: -49px;
    		left: 50px;
    		height: 104px;
            @media #{$max-sm} {
                left: 30px;
            }
    	}
    	&.box-right-active {
    		margin-right: -72px;
			width: calc(50% + 72px);
			position: relative;
			z-index: 9;
            @media #{$max-sm} {
                width: 100%;
                margin: 0;
            }
    	}
    }
    .pxl-item--boxright {
    	min-height: 360px;
    	width: 50%;
    	position: relative;
    	top: -50px;
        @media #{$max-sm} {
            width: 100%;
            top: 0;
        }
    }
    .pxl-item--inner {
    	margin-top: 50px;
    	display: flex;
		flex-wrap: wrap;
    }
    .pxl-swiper-arrow-wrap {
    	margin: 0;
    	position: absolute;
    	bottom: 0;
    	left: 50%;
    	@include transform(translate(-50%, 0));
    	z-index: 99;
    	margin-left: 72px;
        @media #{$max-sm} {
            position: static;
            margin-top: 45px;
            margin-left: 0;
            margin-right: 0;
            left: 0%;
            @include transform(translate(0%, 0));
        }
    }
    .pxl-item--bottom {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .pxl-swiper-thumbs {
    	position: absolute;
		width: 90px;
		top: 50%;
		@include transform(translate(0, -50%));
		right: 30px;
		z-index: 99;
		padding: 0;
		margin-top: -15px;
		overflow: visible;
		@media #{$min-xl2} {
			right: -45px;
		}
        @media #{$max-sm} {
            display: none;
        }
		.swiper-wrapper {
			transform: translate3d(0px, 0px, 0px) !important;
			display: block;
			.swiper-slide {
				width: 90px !important;
				padding: 0;
			}
		}
    	.pxl-item--image {
	    	width: 90px;
	    	margin-bottom: 35px;
	    	border-radius: 90px;
	    	position: relative;
	    	z-index: 1;
	    	&:before {
	    		content: '';
	    		border-radius: 100%;
	    		position: absolute;
	    		top: -5px;
	    		left: -5px;
	    		right: -5px;
	    		bottom: -5px;
	    		background-color: $primary_color;
	    		z-index: -1;
	    		@include transition(all 300ms linear 0ms);
	    		@include box-shadow(0 10px 20px rgba(#8997BA, 0.25));
	    		opacity: 0;
	    		transform: scale(1.2);
	    	}
	    	img {
	    		width: 100%;
	    		border-radius: 90px;
	    		@include box-shadow(0 10px 20px rgba(#8997BA, 0.25));
	    		@include transition(all 300ms linear 0ms);
	    	}
	    }
    	.swiper-slide-thumb-active .pxl-item--image {
    		&:before {
    			opacity: 1;
    			transform: scale(1);
    		}
    		img {
    			box-shadow: none;
    		}
    	}
    }
}

.pxl-testimonial-carousel2 {
    .flaticon-quote-top {
        font-size: 118px;
        line-height: 1;
        color: $primary_color;
        margin-top: -9px;
        @media #{$max-md} {
            font-size: 90px;
        }
        @media #{$max-sm} {
            font-size: 68px;
            margin-bottom: 20px;
        }
    }
    .pxl-item--image {
        width: 320px;
        min-width: 320px;
        border-radius: 320px;
        position: relative;
        z-index: 88;
        margin-left: -57px;
        margin-bottom: -35px;
        @media #{$max-md} {
            width: 220px;
            min-width: 220px;
            border-radius: 220px;
        }
        @media #{$max-sm} {
            display: none;
        }
        img {
            border-radius: 300px;
            border: 10px solid $primary_color;
        }
    }
    .pxl-bottom--image {
        width: 110px;
        margin: 20px auto 20px auto;
        display: none;
        @media #{$max-sm} {
            display: inline-block;
        }
        img {
            border-radius: 110px;
            border: 5px solid $primary_color;
        }
    }
    .pxl-item--holder {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 506px;
        height: 506px;
        background-color: #101010;
        color: #fff;
        border-radius: 506px;
        text-align: center;
        padding: 30px 60px;
        @media #{$max-sm} {
            padding: 40px 30px;
            width: 100%;
            height: auto;
            border-radius: 50px;
        }
        .pxl-item--desc {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.25;
            margin-top: -18px;
            margin-bottom: 12px;
            @media #{$max-md} {
                font-size: 22px;
            }
        }
        .pxl-item--title {
            font-size: 16px;
            font-weight: 500;
        }
    }
    .pxl-item--inner {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        margin-top: 30px;
        margin-bottom: 30px;
        @media #{$max-lg} {
            justify-content: center;
        }
        @media #{$max-sm} {
            display: block;
        }
    }
    .pxl-swiper-pagination {
        margin-top: 10px;
    }
    .pxl-swiper-dots.style-1.pxl-swiper-pagination-bullets {
        span {
            background-color: #232323;
            &.swiper-pagination-bullet-active, &:hover {
                background-color: #fff;
            }
        }
    }
}

.swiper-container-fade .swiper-slide-visible.swiper-slide-active {
    z-index: 99;
}

.pxl-testimonial-carousel3 {
    max-width: 930px;
    @media #{$max-lg2} {
        margin: auto;
    }
    .pxl-item--boxleft {
        position: relative;
    }
    .pxl-item--desc {
        font-size: 48px;
        color: #fff;
        line-height: 1.25;
        padding: 131px 65px 147px;
        @media #{$max-lg} {
            font-size: 36px;
            padding: 120px 50px 100px;
        }
        @media #{$max-sm} {
            padding: 80px 30px;
            font-size: 22px;
        }
    }
    .pxl-swiper--divider {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        border-style: solid;
        border-color: #fff;
        border-width: 12px 12px 12px 0;
        top: 30px;
        bottom: 0;
        @media #{$max-sm} {
            border-width: 8px 8px 8px 0;
        }
        &:before, &:after {
            content: '';
            width: 12px;
            height: 80px;
            background-color: #fff;
            position: absolute;
            left: 0;
            @media #{$max-sm} {
                width: 8px;
            }
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        .flaticon-quote {
            color: $primary_color;
            font-size: 120px;
            position: absolute;
            top: -62px;
            left: 101px;
            line-height: 1;
            @media #{$max-sm} {
                font-size: 80px;
                top: -40px;
                left: 30px;
            }
        }
    }
    .pxl-swiper-container {
        padding-top: 30px;
    }

    .pxl-carousel-inner {
        overflow: visible;
    }

    .pxl-item--meta {
        position: absolute;
        width: 198px;
        padding: 20px 15px 20px 28px;
        background-color: $primary_color;
        z-index: 101;
        left: 100%;
        top: 50%;
        transform: translate(0,-50%);
        margin-left: 40px;
        border-radius: 4px;
        @include transition(all 300ms linear 0ms);
        opacity: 0;
        font-family: 'Fira Sans';
        &:before {
            content: '';
            border-color: transparent $primary_color transparent transparent;
            border-width: 10px;
            border-style: solid;
            position: absolute;
            left: -18px;
            top: 50%;
            transform: translate(0, -50%);
            z-index: -1;
        }
        .pxl-item--title {
            margin-bottom: 0;
            font-size: 22px;
            color: #fff;
            font-family: inherit;
        }
        .pxl-item--position {
            font-size: 16px;
            color: #858585;
            margin-top: -2px;
        }
        .pxl-item--overlay {
            border-radius: 4px;
            background-color: #000000;
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            z-index: -1;
            &:before {
                content: '';
                border-color: transparent #000 transparent transparent;
                border-width: 10px;
                border-style: solid;
                position: absolute;
                left: -17px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
    }

    .pxl-swiper-thumbs {
        overflow: visible;
        z-index: 99;
        margin-top: -15px;
        padding: 6px;
        width: 119px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: -53px;
        @media #{$max-lg2} {
            display: none;
        }
        .pxl-item--image {
            margin: 25px 0;
            cursor: pointer;
            img {
                border-radius: 100%;
                transform: scale(0.76);
                @include transition(all 300ms linear 0ms);
            }
        }
        .swiper-wrapper {
            display: block;
        }
        .swiper-slide {
            padding: 0;
            width: 100% !important;
            &.swiper-slide-thumb-active {
                .pxl-item--image img {
                    transform: scale(1);
                    box-shadow: 0 0 0 6px $primary_color;
                }
                .pxl-item--meta {
                    opacity: 1;
                    margin-left: 20px;
                }
            }
        }
    }

    .pxl-item--bottom {
        display: none;
        @media #{$max-lg2} {
            display: flex;
            align-items: center;
            margin-top: 42px;
            .pxl-bottom--image {
                width: 80px;
                min-width: 80px;
                img {
                    border: 3px solid $primary_color;
                    border-radius: 100%;
                }
            }
            .pxl-bottom--title {
                font-size: 24px;
                color: #fff;
                margin-bottom: 6px;
            }
            .pxl-bottom--position {
                font-size: 16px;
                font-weight: 400;
                color: rgba(#fff, 0.76);
            }
        }
        @media #{$max-sm} {
            .pxl-bottom--image {
                width: 60px;
                min-width: 60px;
            }
            .pxl-bottom--title {
                font-size: 20px;
            }
        }
    }

    .pxl-swiper-pagination {
        margin: 0;
        position: absolute;
        top: 50%;
        left: -75px;
        transform: translate(0, -50%);
        width: 10px;
        z-index: 99;
        @media #{$max-xl} {
            left: 0;
        }
    }
}

.pxl-testimonial-carousel4 {
    text-align: center;
    .pxl-item--star {
        color: $primary_color;
        font-size: 14px;
        margin-bottom: 21px;
    }
    .pxl-item--avatar {
        width: 107px;
        margin: 0 auto 13px auto;
        img {
            border-radius: 107px;
        }
    }
    .pxl-item--title {
        margin-bottom: 8px;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }
    .pxl-item--desc {
        font-size: 17px;
        color: #c9c9c9;
        line-height: 1.647;
        margin-bottom: 10px;
        padding: 0 30px;
        @media #{$max-lg} {
            padding: 0;
        }
    }
    .pxl-item--position {
        font-size: 22px;
        color: #fff;
        font-weight: 700;
    }
}

body.rtl {
    
}