.pxl-video-player1 {
    .pxl-video--holder {
        + .btn-video-wrap {
            position: absolute;
            z-index: 99;
            text-align: center;
            &.p-center {
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
        }
    }
    .btn-video {
    	position: relative;
    	&.style1 {
    		background-color: #000000;
    		width: 100px;
    		height: 100px;
    		color: $primary_color;
    		font-size: 32px;
    		border-radius: 100px;
    		display: inline-flex;
    		i {
    			@extend .pxl-middle;
    			display: flex;
    			margin-left: 4px;
    		}
    		&:before {
                content: "";
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(#fff, 0.63);
                border-radius: 50%;
                animation: pxl_pulse_border 1500ms ease-out infinite;
                -webkit-animation: pxl_pulse_border 1500ms ease-out infinite;
                z-index: -2;
                border-radius: inherit;
            }
            &:hover {
                &:before {
                    -webkit-animation-play-state: paused;
                    -moz-animation-play-state: paused;
                    -o-animation-play-state: paused;
                    animation-play-state: paused;
                }
            }
    	}
    }
}

.pxl-video-parallax1 {
    height: 525px;
    position: relative;
    overflow: hidden;
    width: 100%;
    video {
        width: auto;
        height: 100%;
        max-width: inherit;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .pxl-item--inner {
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: calc(100% + 60px);
    }
}

body.rtl {
}